In [113]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

df = pd.read_csv("../data/student-merged.csv")

df.head()

,school,sex,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,health,absences,G1,G2,G3,Pedu,alc
0,GP,F,18,U,GT3,A,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,4,3,6,5,6,6,4,1
1,GP,F,17,U,GT3,T,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,4,5,5,6,1,1
2,GP,F,15,U,LE3,T,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,2,3,10,7,8,10,1,2
3,GP,F,15,U,GT3,T,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,5,2,15,14,15,3,1
4,GP,F,16,U,GT3,T,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,2,5,4,6,10,10,3,2

In [114]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [115]:
# Data preprocessing - convert all classified attributes to numeric
for index_label, row_series in df.iterrows():

    if row_series['school'] == 'GP':
        df.at[index_label , 'school'] = 0
    elif row_series['school'] == 'MS':
        df.at[index_label , 'school'] = 1

    if row_series['sex'] == 'F':
        df.at[index_label , 'sex'] = 0
    elif row_series['sex'] == 'M':
        df.at[index_label , 'sex'] = 1

    if row_series['address'] == 'U':
        df.at[index_label , 'address'] = 0
    elif row_series['address'] == 'R':
        df.at[index_label , 'address'] = 1

    if row_series['famsize'] == 'GT3':
        df.at[index_label , 'famsize'] = 0
    elif row_series['famsize'] == 'LE3':
        df.at[index_label , 'famsize'] = 1

    if row_series['Pstatus'] == 'A':
        df.at[index_label , 'Pstatus'] = 0
    elif row_series['Pstatus'] == 'T':
        df.at[index_label , 'Pstatus'] = 1

    if row_series['Mjob'] == 'at_home':
        df.at[index_label , 'Mjob'] = 0
    elif row_series['Mjob'] == 'health':
        df.at[index_label , 'Mjob'] = 1
    elif row_series['Mjob'] == 'services':
        df.at[index_label , 'Mjob'] = 2
    elif row_series['Mjob'] == 'teacher':
        df.at[index_label , 'Mjob'] = 3
    elif row_series['Mjob'] == 'other':
        df.at[index_label , 'Mjob'] = 4

    if row_series['Fjob'] == 'at_home':
        df.at[index_label , 'Fjob'] = 0
    elif row_series['Fjob'] == 'health':
        df.at[index_label , 'Fjob'] = 1
    elif row_series['Fjob'] == 'services':
        df.at[index_label , 'Fjob'] = 2
    elif row_series['Fjob'] == 'teacher':
        df.at[index_label , 'Fjob'] = 3
    elif row_series['Fjob'] == 'other':
        df.at[index_label , 'Fjob'] = 4

    if row_series['reason'] == 'home':
        df.at[index_label , 'reason'] = 0
    elif row_series['reason'] == 'reputation':
        df.at[index_label , 'reason'] = 1
    elif row_series['reason'] == 'course':
        df.at[index_label , 'reason'] = 2
    elif row_series['reason'] == 'other':
        df.at[index_label , 'reason'] = 3

    if row_series['guardian'] == 'mother':
        df.at[index_label , 'guardian'] = 0
    elif row_series['guardian'] == 'father':
        df.at[index_label , 'guardian'] = 1
    elif row_series['guardian'] == 'other':
        df.at[index_label , 'guardian'] = 2

    if row_series['schoolsup'] == 'no':
        df.at[index_label , 'schoolsup'] = 0
    elif row_series['schoolsup'] == 'yes':
        df.at[index_label , 'schoolsup'] = 1

    if row_series['famsup'] == 'no':
        df.at[index_label , 'famsup'] = 0
    elif row_series['famsup'] == 'yes':
        df.at[index_label , 'famsup'] = 1

    if row_series['paid'] == 'no':
        df.at[index_label , 'paid'] = 0
    elif row_series['paid'] == 'yes':
        df.at[index_label , 'paid'] = 1

    if row_series['activities'] == 'no':
        df.at[index_label , 'activities'] = 0
    elif row_series['activities'] == 'yes':
        df.at[index_label , 'activities'] = 1

    if row_series['nursery'] == 'no':
        df.at[index_label , 'nursery'] = 0
    elif row_series['nursery'] == 'yes':
        df.at[index_label , 'nursery'] = 1

    if row_series['higher'] == 'no':
        df.at[index_label , 'higher'] = 0
    elif row_series['higher'] == 'yes':
        df.at[index_label , 'higher'] = 1

    if row_series['internet'] == 'no':
        df.at[index_label , 'internet'] = 0
    elif row_series['internet'] == 'yes':
        df.at[index_label , 'internet'] = 1

    if row_series['romantic'] == 'no':
        df.at[index_label , 'romantic'] = 0
    elif row_series['romantic'] == 'yes':
        df.at[index_label , 'romantic'] = 1

df.head()

,school,sex,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,health,absences,G1,G2,G3,Pedu,alc
0,0,0,18,0,0,0,0,3,2,0,2,2,0,1,0,0,0,1,1,0,0,4,4,3,6,5,6,6,4,1
1,0,0,17,0,0,1,0,4,2,1,1,2,0,0,1,0,0,0,1,1,0,5,3,3,4,5,5,6,1,1
2,0,0,15,0,1,1,0,4,3,0,1,2,3,1,0,1,0,1,1,1,0,4,2,3,10,7,8,10,1,2
3,0,0,15,0,0,1,1,2,0,0,1,3,0,0,1,1,1,1,1,1,1,3,2,5,2,15,14,15,3,1
4,0,0,16,0,0,1,4,4,0,1,1,2,0,0,1,1,0,1,1,0,0,4,2,5,4,6,10,10,3,2

In [116]:
# Convert dataframe to numeric in order to be used with GaussianNB
df = df.apply(pd.to_numeric)
df.dtypes

school        int64
sex           int64
age           int64
address       int64
famsize       int64
Pstatus       int64
Mjob          int64
Fjob          int64
reason        int64
guardian      int64
traveltime    int64
studytime     int64
failures      int64
schoolsup     int64
famsup        int64
paid          int64
activities    int64
nursery       int64
higher        int64
internet      int64
romantic      int64
famrel        int64
freetime      int64
health        int64
absences      int64
G1            int64
G2            int64
G3            int64
Pedu          int64
alc           int64
dtype: object

In [117]:
inputs = df.drop('G3', axis='columns')

In [118]:
target = df.G3

In [119]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [120]:
len(inputs)

672

In [121]:
len(X_test)

135

In [122]:
len(X_train)

537

In [123]:
model = GaussianNB()

In [124]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [125]:
model.score(X_test,y_test)

0.21481481481481482

In [126]:
X_test[0:15]

,school,sex,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,health,absences,G1,G2,Pedu,alc
307,0,1,19,0,0,1,3,2,1,2,2,1,1,0,1,1,0,1,1,1,1,4,4,4,38,8,9,4,1
63,0,0,16,0,0,1,3,1,0,0,1,3,0,1,1,1,1,1,1,1,0,3,4,4,2,10,9,4,3
7,0,0,17,0,0,0,4,3,0,0,2,2,0,1,1,0,0,1,1,0,0,4,2,1,6,6,5,4,1
509,1,1,15,0,1,1,0,0,1,1,1,2,0,0,1,0,1,1,1,1,0,5,3,5,0,11,11,3,1
230,0,0,17,0,1,1,1,4,1,1,1,2,0,0,0,0,1,1,1,1,1,3,2,3,14,13,13,4,2
319,0,0,18,0,0,1,3,4,2,0,1,2,0,0,1,1,0,1,1,1,0,4,4,5,2,11,11,4,3
476,0,0,18,0,1,1,3,4,2,0,1,2,0,0,1,0,1,1,1,1,0,4,2,3,0,14,17,3,1
635,1,0,17,0,0,1,4,0,2,0,1,1,0,0,1,0,1,1,1,0,0,4,2,5,9,7,9,1,2
26,0,1,15,0,0,1,4,4,0,0,1,1,0,0,1,1,0,1,1,1,0,4,2,5,2,12,12,2,2
625,1,1,17,0,0,1,4,4,2,0,1,1,1,0,0,0,1,1,1,0,1,1,2,5,0,7,0,2,2
624,1,0,16,1,1,1,4,2,2,1,1,2,0,0,0,0,1,1,1,0,1,5,4,1,0,11,13,2,1
195,0,0,17,0,1,1,2,2,2,1,1,2,0,0,0,0,1,1,1,1,1,4,2,5,0,14,15,3,1
73,0,1,16,0,0,1,4,4,1,0,1,1,0,0,0,0,1,1,1,0,0,5,2,5,2,12,12,2,2
585,1,1,18,0,1,1,0,1,0,0,1,4,0,0,1,0,1,1,0,1,1,5,5,5,2,5,6,4,5
517,1,0,15,0,0,1,0,4,0,0,1,2,0,1,1,0,0,0,1,1,0,4,3,2,0,9,10,2,3

In [129]:
y_test[0:30]

307     8
63      9
7       6
509    11
230    14
319    11
476    17
635    10
26     11
625     0
624    12
195    15
73     14
585     6
517     9
518    15
399    11
637    10
212    14
108    13
201    10
407    10
532    12
200    16
514    11
395    13
286    19
24      8
343     0
192     8
Name: G3, dtype: int64

In [130]:
model.predict(X_test[:30])

array([ 9,  6,  6,  0, 16, 12, 19,  6, 16,  0, 16, 16, 16,  8, 11, 16, 13,
       11, 13, 16,  6,  0, 16, 17,  0, 16, 17,  6,  0,  5], dtype=int64)