In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

df = pd.read_csv("../data/student-merged.csv")

df.head()

,school,sex,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,health,absences,G1,G2,G3,Pedu,alc
0,GP,F,18,U,GT3,A,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,4,3,6,5,6,6,4,1
1,GP,F,17,U,GT3,T,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,4,5,5,6,1,1
2,GP,F,15,U,LE3,T,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,2,3,10,7,8,10,1,2
3,GP,F,15,U,GT3,T,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,5,2,15,14,15,3,1
4,GP,F,16,U,GT3,T,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,2,5,4,6,10,10,3,2

In [18]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [19]:
# Data preprocessing - convert all classified attributes to numeric
for index_label, row_series in df.iterrows():

    if row_series['school'] == 'GP':
        df.at[index_label , 'school'] = 0
    elif row_series['school'] == 'MS':
        df.at[index_label , 'school'] = 1

    if row_series['sex'] == 'F':
        df.at[index_label , 'sex'] = 0
    elif row_series['sex'] == 'M':
        df.at[index_label , 'sex'] = 1

    if row_series['address'] == 'U':
        df.at[index_label , 'address'] = 0
    elif row_series['address'] == 'R':
        df.at[index_label , 'address'] = 1

    if row_series['famsize'] == 'GT3':
        df.at[index_label , 'famsize'] = 0
    elif row_series['famsize'] == 'LE3':
        df.at[index_label , 'famsize'] = 1

    if row_series['Pstatus'] == 'A':
        df.at[index_label , 'Pstatus'] = 0
    elif row_series['Pstatus'] == 'T':
        df.at[index_label , 'Pstatus'] = 1

    if row_series['Mjob'] == 'at_home':
        df.at[index_label , 'Mjob'] = 0
    elif row_series['Mjob'] == 'health':
        df.at[index_label , 'Mjob'] = 1
    elif row_series['Mjob'] == 'services':
        df.at[index_label , 'Mjob'] = 2
    elif row_series['Mjob'] == 'teacher':
        df.at[index_label , 'Mjob'] = 3
    elif row_series['Mjob'] == 'other':
        df.at[index_label , 'Mjob'] = 4

    if row_series['Fjob'] == 'at_home':
        df.at[index_label , 'Fjob'] = 0
    elif row_series['Fjob'] == 'health':
        df.at[index_label , 'Fjob'] = 1
    elif row_series['Fjob'] == 'services':
        df.at[index_label , 'Fjob'] = 2
    elif row_series['Fjob'] == 'teacher':
        df.at[index_label , 'Fjob'] = 3
    elif row_series['Fjob'] == 'other':
        df.at[index_label , 'Fjob'] = 4

    if row_series['reason'] == 'home':
        df.at[index_label , 'reason'] = 0
    elif row_series['reason'] == 'reputation':
        df.at[index_label , 'reason'] = 1
    elif row_series['reason'] == 'course':
        df.at[index_label , 'reason'] = 2
    elif row_series['reason'] == 'other':
        df.at[index_label , 'reason'] = 3

    if row_series['guardian'] == 'mother':
        df.at[index_label , 'guardian'] = 0
    elif row_series['guardian'] == 'father':
        df.at[index_label , 'guardian'] = 1
    elif row_series['guardian'] == 'other':
        df.at[index_label , 'guardian'] = 2

    if row_series['schoolsup'] == 'no':
        df.at[index_label , 'schoolsup'] = 0
    elif row_series['schoolsup'] == 'yes':
        df.at[index_label , 'schoolsup'] = 1

    if row_series['famsup'] == 'no':
        df.at[index_label , 'famsup'] = 0
    elif row_series['famsup'] == 'yes':
        df.at[index_label , 'famsup'] = 1

    if row_series['paid'] == 'no':
        df.at[index_label , 'paid'] = 0
    elif row_series['paid'] == 'yes':
        df.at[index_label , 'paid'] = 1

    if row_series['activities'] == 'no':
        df.at[index_label , 'activities'] = 0
    elif row_series['activities'] == 'yes':
        df.at[index_label , 'activities'] = 1

    if row_series['nursery'] == 'no':
        df.at[index_label , 'nursery'] = 0
    elif row_series['nursery'] == 'yes':
        df.at[index_label , 'nursery'] = 1

    if row_series['higher'] == 'no':
        df.at[index_label , 'higher'] = 0
    elif row_series['higher'] == 'yes':
        df.at[index_label , 'higher'] = 1

    if row_series['internet'] == 'no':
        df.at[index_label , 'internet'] = 0
    elif row_series['internet'] == 'yes':
        df.at[index_label , 'internet'] = 1

    if row_series['romantic'] == 'no':
        df.at[index_label , 'romantic'] = 0
    elif row_series['romantic'] == 'yes':
        df.at[index_label , 'romantic'] = 1

df.head()

,school,sex,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,health,absences,G1,G2,G3,Pedu,alc
0,0,0,18,0,0,0,0,3,2,0,2,2,0,1,0,0,0,1,1,0,0,4,4,3,6,5,6,6,4,1
1,0,0,17,0,0,1,0,4,2,1,1,2,0,0,1,0,0,0,1,1,0,5,3,3,4,5,5,6,1,1
2,0,0,15,0,1,1,0,4,3,0,1,2,3,1,0,1,0,1,1,1,0,4,2,3,10,7,8,10,1,2
3,0,0,15,0,0,1,1,2,0,0,1,3,0,0,1,1,1,1,1,1,1,3,2,5,2,15,14,15,3,1
4,0,0,16,0,0,1,4,4,0,1,1,2,0,0,1,1,0,1,1,0,0,4,2,5,4,6,10,10,3,2

In [20]:
# Convert dataframe to numeric in order to be used with GaussianNB
df = df.apply(pd.to_numeric)
df.dtypes

school        int64
sex           int64
age           int64
address       int64
famsize       int64
Pstatus       int64
Mjob          int64
Fjob          int64
reason        int64
guardian      int64
traveltime    int64
studytime     int64
failures      int64
schoolsup     int64
famsup        int64
paid          int64
activities    int64
nursery       int64
higher        int64
internet      int64
romantic      int64
famrel        int64
freetime      int64
health        int64
absences      int64
G1            int64
G2            int64
G3            int64
Pedu          int64
alc           int64
dtype: object

In [21]:
inputs = df.drop('sex', axis='columns')

In [22]:
target = df.sex

In [23]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [24]:
len(inputs)

672

In [25]:
len(X_test)

135

In [26]:
len(X_train)

537

In [27]:
model = GaussianNB()

In [28]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [29]:
model.score(X_test,y_test)

0.6888888888888889

In [30]:
X_test[0:15]

,school,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,health,absences,G1,G2,G3,Pedu,alc
466,0,18,0,0,1,4,4,1,0,1,1,0,0,0,0,0,0,1,1,0,5,3,5,6,15,14,15,2,2
478,0,20,1,0,1,4,4,1,2,2,3,0,0,0,0,0,1,1,1,1,3,2,3,8,11,15,15,1,2
408,0,15,0,0,1,0,2,2,1,1,2,0,0,0,0,0,0,1,0,1,2,4,1,6,11,11,11,2,3
469,0,19,0,1,0,0,4,0,2,2,1,1,0,0,0,0,1,0,1,0,2,2,5,16,10,11,11,2,4
531,1,16,0,0,1,4,3,2,1,1,2,0,0,1,0,1,1,1,0,1,4,2,3,0,13,12,13,4,1
385,1,18,1,0,1,0,4,3,0,2,3,0,0,0,1,0,1,1,0,0,5,3,4,2,10,9,10,2,2
422,0,16,0,0,1,4,4,2,0,1,1,0,0,0,0,0,1,0,1,0,5,4,5,4,12,11,11,2,2
246,0,17,0,0,1,4,4,2,1,2,1,0,0,0,0,0,1,1,1,0,5,2,2,4,12,12,13,2,1
461,0,18,0,0,1,4,4,2,0,1,1,0,0,1,0,1,1,1,1,1,4,4,5,2,10,10,10,2,3
178,0,16,1,0,1,3,2,3,0,1,1,0,0,1,0,1,1,1,1,1,4,3,3,10,10,8,9,3,4
283,0,18,0,0,1,4,4,0,0,2,2,0,1,0,0,1,1,1,1,0,5,4,4,4,8,9,10,1,1
205,0,17,0,0,1,0,2,0,0,1,3,1,0,1,1,0,1,1,1,1,4,4,5,28,10,9,9,4,4
609,1,16,1,1,1,4,0,3,1,1,1,0,0,0,0,0,1,1,1,0,4,2,2,0,10,11,11,2,2
582,1,16,0,1,1,0,4,3,0,3,2,0,0,1,0,0,1,1,1,0,4,2,5,6,6,8,8,1,2
168,0,16,0,0,1,4,4,0,0,1,2,0,0,1,1,0,0,1,1,0,5,3,4,0,6,7,0,2,1

In [31]:
y_test[0:15]

466    1
478    0
408    0
469    0
531    1
385    0
422    0
246    1
461    0
178    1
283    0
205    0
609    1
582    0
168    0
Name: sex, dtype: int64

In [32]:
model.predict(X_test[:15])

array([1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0], dtype=int64)