In [115]:
# importing required libraries
import pandas as pd  
import numpy as np  
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [116]:
df = pd.read_csv("../data/student-merged.csv")

In [117]:
df.shape

(672, 30)

In [118]:
df.describe()

,age,traveltime,studytime,failures,famrel,freetime,health,absences,G1,G2,G3,Pedu,alc
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000
mean,16.812500,1.566964,1.928571,0.336310,3.938988,3.191964,3.534226,4.875000,10.715774,10.690476,10.684524,2.449405,1.938988
std,1.264189,0.745565,0.824884,0.722219,0.939685,0.961429,1.435765,6.823897,3.082742,3.538508,4.144398,1.050356,0.992144
min,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,1.000000
25%,16.000000,1.000000,1.000000,0.000000,4.000000,2.000000,2.000000,0.000000,8.000000,9.000000,9.000000,2.000000,1.000000
50%,17.000000,1.000000,2.000000,0.000000,4.000000,3.000000,4.000000,2.000000,10.000000,11.000000,11.000000,2.000000,2.000000
75%,18.000000,2.000000,2.000000,0.000000,5.000000,4.000000,5.000000,7.250000,13.000000,13.000000,13.000000,3.000000,2.000000
max,22.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000,4.000000,5.000000

In [119]:
# Data preprocessing - convert all classified attributes to numeric
for index_label, row_series in df.iterrows():

    if row_series['school'] == 'GP':
        df.at[index_label , 'school'] = 0
    elif row_series['school'] == 'MS':
        df.at[index_label , 'school'] = 1

    if row_series['sex'] == 'F':
        df.at[index_label , 'sex'] = 0
    elif row_series['sex'] == 'M':
        df.at[index_label , 'sex'] = 1

    if row_series['address'] == 'U':
        df.at[index_label , 'address'] = 0
    elif row_series['address'] == 'R':
        df.at[index_label , 'address'] = 1

    if row_series['famsize'] == 'GT3':
        df.at[index_label , 'famsize'] = 0
    elif row_series['famsize'] == 'LE3':
        df.at[index_label , 'famsize'] = 1

    if row_series['Pstatus'] == 'A':
        df.at[index_label , 'Pstatus'] = 0
    elif row_series['Pstatus'] == 'T':
        df.at[index_label , 'Pstatus'] = 1

    if row_series['Mjob'] == 'at_home':
        df.at[index_label , 'Mjob'] = 0
    elif row_series['Mjob'] == 'health':
        df.at[index_label , 'Mjob'] = 1
    elif row_series['Mjob'] == 'services':
        df.at[index_label , 'Mjob'] = 2
    elif row_series['Mjob'] == 'teacher':
        df.at[index_label , 'Mjob'] = 3
    elif row_series['Mjob'] == 'other':
        df.at[index_label , 'Mjob'] = 4

    if row_series['Fjob'] == 'at_home':
        df.at[index_label , 'Fjob'] = 0
    elif row_series['Fjob'] == 'health':
        df.at[index_label , 'Fjob'] = 1
    elif row_series['Fjob'] == 'services':
        df.at[index_label , 'Fjob'] = 2
    elif row_series['Fjob'] == 'teacher':
        df.at[index_label , 'Fjob'] = 3
    elif row_series['Fjob'] == 'other':
        df.at[index_label , 'Fjob'] = 4

    if row_series['reason'] == 'home':
        df.at[index_label , 'reason'] = 0
    elif row_series['reason'] == 'reputation':
        df.at[index_label , 'reason'] = 1
    elif row_series['reason'] == 'course':
        df.at[index_label , 'reason'] = 2
    elif row_series['reason'] == 'other':
        df.at[index_label , 'reason'] = 3

    if row_series['guardian'] == 'mother':
        df.at[index_label , 'guardian'] = 0
    elif row_series['guardian'] == 'father':
        df.at[index_label , 'guardian'] = 1
    elif row_series['guardian'] == 'other':
        df.at[index_label , 'guardian'] = 2

    if row_series['schoolsup'] == 'no':
        df.at[index_label , 'schoolsup'] = 0
    elif row_series['schoolsup'] == 'yes':
        df.at[index_label , 'schoolsup'] = 1

    if row_series['famsup'] == 'no':
        df.at[index_label , 'famsup'] = 0
    elif row_series['famsup'] == 'yes':
        df.at[index_label , 'famsup'] = 1

    if row_series['paid'] == 'no':
        df.at[index_label , 'paid'] = 0
    elif row_series['paid'] == 'yes':
        df.at[index_label , 'paid'] = 1

    if row_series['activities'] == 'no':
        df.at[index_label , 'activities'] = 0
    elif row_series['activities'] == 'yes':
        df.at[index_label , 'activities'] = 1

    if row_series['nursery'] == 'no':
        df.at[index_label , 'nursery'] = 0
    elif row_series['nursery'] == 'yes':
        df.at[index_label , 'nursery'] = 1

    if row_series['higher'] == 'no':
        df.at[index_label , 'higher'] = 0
    elif row_series['higher'] == 'yes':
        df.at[index_label , 'higher'] = 1

    if row_series['internet'] == 'no':
        df.at[index_label , 'internet'] = 0
    elif row_series['internet'] == 'yes':
        df.at[index_label , 'internet'] = 1

    if row_series['romantic'] == 'no':
        df.at[index_label , 'romantic'] = 0
    elif row_series['romantic'] == 'yes':
        df.at[index_label , 'romantic'] = 1

df.head()
# df.to_numpy()

,school,sex,age,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,health,absences,G1,G2,G3,Pedu,alc
0,0,0,18,0,0,0,0,3,2,0,2,2,0,1,0,0,0,1,1,0,0,4,4,3,6,5,6,6,4,1
1,0,0,17,0,0,1,0,4,2,1,1,2,0,0,1,0,0,0,1,1,0,5,3,3,4,5,5,6,1,1
2,0,0,15,0,1,1,0,4,3,0,1,2,3,1,0,1,0,1,1,1,0,4,2,3,10,7,8,10,1,2
3,0,0,15,0,0,1,1,2,0,0,1,3,0,0,1,1,1,1,1,1,1,3,2,5,2,15,14,15,3,1
4,0,0,16,0,0,1,4,4,0,1,1,2,0,0,1,1,0,1,1,0,0,4,2,5,4,6,10,10,3,2

In [120]:
#Define variables X and Y
X = df.drop('sex', axis='columns')
y = df['sex']
y.head()

0    2
1    2
2    2
3    3
4    2
Name: studytime, dtype: int64

In [121]:
#Split Data 80-20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [122]:
#train the algorithm
lnr = LinearRegression()  
lnr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [123]:
#Find the intercept:
print('\nb=',lnr.intercept_)
#find the slope:
print('\na=',lnr.coef_)

b= 0.016369182815365813

a= [-0.14098687 -0.25264214  0.07824963 -0.01770247  0.02950869  0.0284231
  0.02710326 -0.03425716 -0.02094708  0.03318377  0.04946117 -0.01963965
  0.2993927   0.13337992  0.18960727  0.11233965  0.03862611  0.32597835
 -0.0077374   0.05764812  0.01739538 -0.03654264 -0.01284744 -0.01139773
  0.06720427  0.00601035 -0.02814972 -0.0103568  -0.07576551]

In [124]:
y_pred = lnr.predict(X_test)

In [125]:
print(type(y_pred))
print(type(y_test.to_numpy()))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [126]:
y_pred = y_pred.round()
y_pred = y_pred.astype(int)

In [127]:

y_test[:30]

582    2
310    2
14     3
642    3
76     4
165    1
498    4
468    2
651    2
401    1
222    2
306    1
367    1
548    1
631    2
75     2
501    1
649    1
181    2
597    2
460    2
285    2
312    2
412    1
400    2
303    4
162    1
414    2
402    3
482    1
Name: studytime, dtype: int64

In [128]:
lnr.predict(X_test[:30]).round().astype(int)

array([2, 3, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2,
       2, 1, 2, 3, 2, 2, 2, 2])

In [129]:
#Compare the actual output values with the predicted values
df = pd.DataFrame({'Actual': y_test.to_numpy().flatten(), 'Predicted': y_pred.flatten()})
df

     Actual  Predicted
0         2          2
1         2          3
2         3          2
3         3          2
4         4          2
5         1          1
6         4          1
7         2          2
8         2          2
9         1          2
10        2          2
11        1          2
12        1          2
13        1          2
14        2          1
15        2          2
16        1          2
17        1          2
18        2          2
19        2          1
20        2          2
21        2          2
22        2          2
23        1          1
24        2          2
25        4          3
26        1          2
27        2          2
28        3          2
29        1          2
30        2          2
31        1          2
32        1          2
33        1          2
34        1          2
35        2          2
36        2          2
37        2          2
38        2          2
39        2          2
40        2          2
41        2          2
42        2          2
43        2          1
44        3          2
45        1          2
46        1          2
47        2          2
48        2          2
49        2          2
50        2          2
51        1          2
52        1          1
53        4          3
54        2          2
55        1          2
56        1          2
57        2          2
58        2          2
59        1          2
60        1          1
61        2          2
62        2          2
63        1          1
64        2          1
65        1          2
66        3          2
67        2          2
68        2          2
69        2          2
70        1          1
71        2          2
72        2          2
73        2          2
74        2          2
75        2          2
76        2          2
77        2          2
78        1          2
79        3          2
80        2          2
81        1          2
82        2          2
83        2          2
84        3          2
85        3          2
86        1          2
87        3          2
88        2          2
89        1          2
90        2          2
91        2          2
92        1          1
93        2          2
94        1          2
95        1          2
96        2          2
97        1          1
98        2          3
99        2          2
100       2          2
101       2          2
102       2          2
103       1          2
104       2          2
105       1          2
106       3          2
107       3          2
108       1          2
109       2          2
110       2          2
111       3          2
112       1          1
113       1          1
114       2          2
115       2          2
116       2          2
117       2          3
118       2          2
119       3          2
120       2          2
121       3          2
122       1          1
123       3          2
124       2          2
125       2          2
126       2          2
127       1          2
128       4          2
129       1          2
130       2          2
131       2          2
132       1          2
133       3          2
134       1          2

In [130]:
#How good our algorithm is?
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 0.4740740740740741

In [131]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))

Mean Squared Error: 0.5481481481481482

In [132]:
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error: 0.7403702777314526

In [133]:
correct_predictions = total_counts = 0
for index_label, row_series in df.iterrows():
    # print(index_label)
    # print(row_series['Actual']==row_series['Predicted'])
    if(row_series['Actual']==row_series['Predicted']):
        correct_predictions += 1
    total_counts += 1

print(correct_predictions/total_counts)

0.5555555555555556